.p0{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -0px;
}
.p1{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -0px;
}
.p2{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -0px;
}
.p3{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -0px;
}
.p4{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -0px;
}
.p5{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -0px;
}
.p6{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -0px;
}
.p7{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -0px;
}
.p8{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -0px;
}
.p9{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -0px;
}
.p10{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -0px;
}
.p11{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -0px;
}
.p12{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -0px;
}
.p13{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -0px;
}
.p14{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -0px;
}
.p15{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -0px;
}
.p16{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -16px;
}
.p17{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -16px;
}
.p18{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -16px;
}
.p19{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -16px;
}
.p20{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -16px;
}
.p21{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -16px;
}
.p22{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -16px;
}
.p23{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -16px;
}
.p24{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -16px;
}
.p25{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -16px;
}
.p26{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -16px;
}
.p27{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -16px;
}
.p28{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -16px;
}
.p29{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -16px;
}
.p30{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -16px;
}
.p31{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -16px;
}
.p32{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -32px;
}
.p33{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -32px;
}
.p34{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -32px;
}
.p35{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -32px;
}
.p36{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -32px;
}
.p37{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -32px;
}
.p38{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -32px;
}
.p39{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -32px;
}
.p40{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -32px;
}
.p41{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -32px;
}
.p42{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -32px;
}
.p43{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -32px;
}
.p44{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -32px;
}
.p45{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -32px;
}
.p46{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -32px;
}
.p47{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -32px;
}
.p48{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -48px;
}
.p49{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -48px;
}
.p50{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -48px;
}
.p51{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -48px;
}
.p52{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -48px;
}
.p53{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -48px;
}
.p54{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -48px;
}
.p55{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -48px;
}
.p56{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -48px;
}
.p57{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -48px;
}
.p58{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -48px;
}
.p59{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -48px;
}
.p60{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -48px;
}
.p61{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -48px;
}
.p62{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -48px;
}
.p63{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -48px;
}
.p64{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -64px;
}
.p65{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -64px;
}
.p66{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -64px;
}
.p67{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -64px;
}
.p68{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -64px;
}
.p69{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -64px;
}
.p70{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -64px;
}
.p71{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -64px;
}
.p72{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -64px;
}
.p73{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -64px;
}
.p74{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -64px;
}
.p75{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -64px;
}
.p76{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -64px;
}
.p77{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -64px;
}
.p78{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -64px;
}
.p79{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -64px;
}
.p80{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -80px;
}
.p81{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -80px;
}
.p82{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -80px;
}
.p83{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -80px;
}
.p84{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -80px;
}
.p85{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -80px;
}
.p86{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -80px;
}
.p87{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -80px;
}
.p88{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -80px;
}
.p89{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -80px;
}
.p90{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -80px;
}
.p91{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -80px;
}
.p92{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -80px;
}
.p93{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -80px;
}
.p94{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -80px;
}
.p95{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -80px;
}
.p96{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -96px;
}
.p97{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -96px;
}
.p98{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -96px;
}
.p99{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -96px;
}
.p100{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -96px;
}
.p101{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -96px;
}
.p102{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -96px;
}
.p103{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -96px;
}
.p104{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -96px;
}
.p105{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -96px;
}
.p106{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -96px;
}
.p107{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -96px;
}
.p108{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -96px;
}
.p109{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -96px;
}
.p110{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -96px;
}
.p111{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -96px;
}
.p112{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -112px;
}
.p113{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -112px;
}
.p114{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -112px;
}
.p115{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -112px;
}
.p116{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -112px;
}
.p117{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -112px;
}
.p118{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -112px;
}
.p119{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -112px;
}
.p120{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -112px;
}
.p121{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -112px;
}
.p122{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -112px;
}
.p123{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -112px;
}
.p124{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -112px;
}
.p125{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -112px;
}
.p126{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -112px;
}
.p127{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -112px;
}
.p128{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -128px;
}
.p129{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -128px;
}
.p130{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -128px;
}
.p131{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -128px;
}
.p132{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -128px;
}
.p133{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -128px;
}
.p134{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -128px;
}
.p135{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -128px;
}
.p136{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -128px;
}
.p137{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -128px;
}
.p138{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -128px;
}
.p139{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -128px;
}
.p140{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -128px;
}
.p141{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -128px;
}
.p142{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -128px;
}
.p143{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -128px;
}
.p144{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -144px;
}
.p145{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -144px;
}
.p146{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -144px;
}
.p147{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -144px;
}
.p148{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -144px;
}
.p149{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -144px;
}
.p150{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -144px;
}
.p151{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -144px;
}
.p152{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -144px;
}
.p153{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -144px;
}
.p154{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -144px;
}
.p155{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -144px;
}
.p156{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -144px;
}
.p157{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -144px;
}
.p158{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -144px;
}
.p159{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -144px;
}
.p160{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -160px;
}
.p161{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -160px;
}
.p162{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -160px;
}
.p163{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -160px;
}
.p164{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -160px;
}
.p165{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -160px;
}
.p166{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -160px;
}
.p167{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -160px;
}
.p168{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -160px;
}
.p169{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -160px;
}
.p170{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -160px;
}
.p171{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -160px;
}
.p172{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -160px;
}
.p173{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -160px;
}
.p174{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -160px;
}
.p175{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -160px;
}
.p176{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -176px;
}
.p177{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -176px;
}
.p178{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -176px;
}
.p179{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -176px;
}
.p180{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -176px;
}
.p181{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -176px;
}
.p182{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -176px;
}
.p183{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -176px;
}
.p184{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -176px;
}
.p185{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -176px;
}
.p186{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -176px;
}
.p187{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -176px;
}
.p188{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -176px;
}
.p189{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -176px;
}
.p190{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -176px;
}
.p191{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -176px;
}
.p192{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -192px;
}
.p193{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -192px;
}
.p194{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -192px;
}
.p195{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -192px;
}
.p196{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -192px;
}
.p197{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -192px;
}
.p198{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -192px;
}
.p199{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -192px;
}
.p200{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -192px;
}
.p201{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -192px;
}
.p202{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -192px;
}
.p203{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -192px;
}
.p204{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -192px;
}
.p205{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -192px;
}
.p206{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -192px;
}
.p207{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -192px;
}
.p208{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -208px;
}
.p209{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -208px;
}
.p210{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -208px;
}
.p211{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -208px;
}
.p212{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -208px;
}
.p213{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -208px;
}
.p214{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -208px;
}
.p215{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -208px;
}
.p216{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -208px;
}
.p217{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -208px;
}
.p218{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -208px;
}
.p219{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -208px;
}
.p220{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -208px;
}
.p221{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -208px;
}
.p222{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -208px;
}
.p223{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -208px;
}
.p224{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -224px;
}
.p225{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -224px;
}
.p226{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -224px;
}
.p227{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -224px;
}
.p228{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -224px;
}
.p229{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -224px;
}
.p230{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -224px;
}
.p231{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -224px;
}
.p232{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -224px;
}
.p233{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -224px;
}
.p234{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -224px;
}
.p235{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -224px;
}
.p236{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -224px;
}
.p237{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -224px;
}
.p238{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -224px;
}
.p239{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -224px;
}
.p240{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -0px -240px;
}
.p241{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -16px -240px;
}
.p242{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -32px -240px;
}
.p243{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -48px -240px;
}
.p244{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -64px -240px;
}
.p245{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -80px -240px;
}
.p246{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -96px -240px;
}
.p247{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -112px -240px;
}
.p248{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -128px -240px;
}
.p249{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -144px -240px;
}
.p250{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -160px -240px;
}
.p251{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -176px -240px;
}
.p252{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -192px -240px;
}
.p253{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -208px -240px;
}
.p254{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -224px -240px;
}
.p255{
width:16px;
height:16px;
background:url('savemap.png') no-repeat -240px -240px;
}

td{
	width:16px;
	height:16px;
	cellspacing:0;
}
table{
	border-spacing:0;
	width: 4096px;
	height: 2048px;
	left:100px
}
span{
	font-size:12;
}

#pattern{
	left: 0;
	position: fixed;
	bottom: 5 ;
	width: 96px;
	z-index: 100;
	background-color:black;
	cursor:pointer;
}
